.expense-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
 }
 
 .expense-table th,
 .expense-table td {
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
 }
 
 .expense-table th {
	background-color: #f2f2f2;
 }