#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

body{
  background-image: url('./assets/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 34px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 12px;
  }
}